.skillcard {
  text-align: center;
  width: 400px;
  background: rgba(0, 0, 0, 0.6);
  height: 300px;
  transition: all 0.3s linear;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.skill_title {
  color: #25ca7f;
  margin: 0;
}

.skill_pic {
  width: 300px;
}

.skillcard:hover {
  transform: translateY(-8px);
  box-shadow: 1px 1px 5px #616362;
}

.skill_title {
  padding: 20px 0;
  background: #000;
}

.skill_desc {
  margin: 0;
  transform: translateY(0%);
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.7);
  transition: transform 0.3s linear;
  position: absolute;
  top: 0;
}
.skillset_desc {
  font-size: 13px;
  padding: 40px 20px;
  font-weight: 500;
}
@media (max-width: 414px) {
  .skillcard {
    width: 300px;
  }
}
