.skillcard {
  text-align: center;
  width: 300px;
  background: rgba(0, 0, 0, 0.6);
  height: 400px;
  transition: all 0.3s linear;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.skill_title {
  color: #25ca7f;
  margin: 0;
}

.skill_pic {
  width: 300px;
}

.skillcard:hover {
  transform: translateY(-8px);
  box-shadow: 1px 1px 5px #616362;
}
.skillcard:hover .skill_desc {
  transform: translateY(-77%);
}

.skill_title {
  padding: 30px 0;
}

.skill_desc {
  margin: 0;
  transform: translateY(0%);
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s linear;
}

@media (max-width: 601px) {
  .skill_desc {
    transform: translateY(-77%);
  }
}
