.portfolio {
  width: 100%;
  margin: 0 auto;
}
.sub_title {
  text-align: center;
  color: #fff;
  margin-top: 50px;
  font-size: 26px;
  line-height: 31px;
  font-weight: 600;
}
.prev_wrk {
  margin: 70px auto;
}
.prev_wrk_content {
  margin: 35px auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
