.skills {
  width: 100%;
  margin: 0 auto;
}
.skillsetcards {
  width: 95%;
  margin: 70px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 700px) {
  .skillsetcards {
    justify-content: center;
  }
}
