.content_title h2 {
  text-align: center;
  color: #fff;
  margin-top: 70px;
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
}

.content_title {
  position: relative;
}

.content_title:after,
.content_title:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  left: calc(50% - 56px);
  bottom: -19px;
  background-color: #25ca7f;
}

.content_title span {
  position: absolute;
  width: 35px;
  height: 17px;
  left: calc(50% - 17px);
  margin-top: 10px;
}

.content_title span:before,
.content_title span:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -30px;
  left: -11px;
  border: 2px solid #25ca7f;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}

.content_title:before {
  left: calc(50% + 16px);
}

.content_title span:after {
  left: auto;
  border-radius: 50px 50px 50px 0;
  right: 0;
  transform: rotate(45deg);
}
