.about {
  width: 100%;
  margin: 0 auto;
}

.about_contents {
  margin-top: 70px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s linear;
  width: 95%;
  margin: 70px auto 100px;
  display: flex;
}
.about_content1 {
  padding-right: 60px;
  display: flex;
  justify-content: center;
}
.about_content1 dp {
  width: 100%;
}
.about_content2 {
  padding: 20px;
}
.about_content2 .location {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #25ca7f;
}

.about_content2 h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.about_quote {
  font-style: italic;
  color: #25ca7f;
}

.about_content2 p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
}

.hobby_content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 95%;
  margin: 50px auto 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sub_title {
  text-align: center;
  color: #fff;
  margin-top: 50px;
  font-size: 26px;
  line-height: 31px;
  font-weight: 600;
}
.quote_container {
  background-image: url(../../media/images/bg-2.jpg);
  margin-top: 70px;
  background-attachment: fixed;
  text-align: center;
  background-size: cover;
  background-position-y: 49px;
  background-position-x: center;
}
.quote_container .layout {
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}
.quote_container p {
  font-size: 30px;
  color: #fff;
  font-style: italic;
  padding: 50px 0;
}

@media (max-width: 767px) {
  .about_contents {
    flex-direction: column;
  }
}
