.navbar_right {
  margin: 0 auto;
  width: 30px;
}

.right_wrap .right_icon {
  margin: 30px auto;
  outline: 0;
  color: #fff;
  font-size: 27px;
  transition: color 0.3s;
}
.right_wrap .right_icon {
  transition: transform 0.3s linear;
}

.right_icon:hover {
  transform: translateY(-7px);
  color: #25ca7f;
}
