.left_wrap {
  width: 100%;
  height: auto;
  float: left;
  padding-right: 100px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
  width: 6px;
  background: #25ca7f;
}
::-webkit-scrollbar-thumb {
  background: #25ca7f;
  border-radius: 4px;
  width: 6px;
  transition: all 0.4s ease;
}
::-webkit-scrollbar-track {
  background: #101010;
  border-radius: 4px;
  width: 4px;
}

@media (max-width: 767px) {
  .left_wrap {
    padding-right: 0;
  }
}
