/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.right_wrap {
  width: 100px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.left_wrap {
  width: 100%;
  height: auto;
  float: left;
  padding-right: 100px;
  box-sizing: border-box;
}
